<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            width: 1200px;
            margin: 0 auto;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: coral;
        }
    </style>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create</a>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            <% listUsers.forEach(function(user, index){ %>
                <tr>
                    <td>
                        <%= user.id %> - <%= index%>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <a href="/update/<%= user.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
</body>

</html>